

ios/*
android/*
!ios/
creds.yml
push-mobile.yml
/finals/android/*
/finals/ios/*
/images/*.png
/images/*.jpg
/images/*.gif
/about-html/*
/google-service/*
!images/android
!images/images-generated
images/images-generated/*
*.yml
!push-mobile-credentials-template.yml
!creds-template.yml
.byebug_history
/.gradle/
/.idea/*
.DS_Store
.DS_Store?
.idea/*
/credentials/*
/google-services-account/*.json
/google-service/*.json
